/*******************************************
--------------FONT IMPORT-------------------
/*******************************************/

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Rye&display=swap");

/*******************************************
-------------------RESET--------------------
/*******************************************/

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*******************************************
-----------------BASE STYLES----------------
/*******************************************/

html {
  background-image: url("../assets/scroll-background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

h1,
h2 {
  font-family: "Rye", cursive;
  font-size: 2.2rem;
}

h1 {
  margin: 0 0 5px 0;
  padding: 0 0 5px 0;
}

h2 {
  margin: 75px 0 0 30px;
  text-align: left;
}

button {
  background-color: rgba(37, 37, 37, 0.919);
  border-radius: 15px;
  padding: 0.75rem 1.5rem;
}

button a {
  color: #fff;
  text-decoration: none;
  font-size: 0.75rem;
}

/*******************************************
-------------------LOGO---------------------
/*******************************************/

.logo {
  position: absolute;
  top: 15px;
  right: 45%;
}

.logo img {
  max-height: 45px;
}

@media (max-width: 360px) {
  .logo {
    right: 76%;
  }
}

/*******************************************
-----------------GALLERY--------------------
/*******************************************/

.gallery {
  display: flex;
  width: 100%;
}

.planeswalker-img {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  margin: 40px 0 55px 30px;
}

.item {
  width: 180px;
  height: 180px;
  background-color: lightgray;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0.1em;
}

.planeswalker-info {
  text-align: center;
  width: 50%;
  margin: 40px 30px 55px 30px;
}

.avatar {
  max-height: 355px;
  padding: 0.75rem;
}

.mana {
  display: inline;
  max-height: 55px;
}

.planeswalker-info button {
  visibility: hidden;
}
