/*******************************************
-------------------RESET--------------------
/*******************************************/

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*******************************************
-----------------BASE STYLES----------------
/*******************************************/

html {
  background-image: url("../images/Pin-by-Osler-Tan-on-Art-Land-art-Art-Magic-the-gathering.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

/*******************************************
-------------------LOGO---------------------
/*******************************************/

.logo {
  position: absolute;
  top: 10px;
  left: 10px;
}

.logo img {
  max-height: 75px;
}

/* grid */
/*
  The grid itself needs only 4 CSS declarations:
*/

/*******************************************
-----------------GALLERY--------------------
/*******************************************/

.myGallery {
  border: 8px solid black;
  width: 50%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: 75px 0 75px 30px;
}

.myGallery img {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  width: 100%;
}
