/*******************************************
-------------------RESET--------------------
/*******************************************/

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*******************************************
-----------------BASE STYLES----------------
/*******************************************/

html {
  background-image: url("../images/scroll-background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/*******************************************
-------------------LOGO---------------------
/*******************************************/

.logo {
  position: absolute;
  top: 15px;
  left: 15px;
}

.logo img {
  max-height: 75px;
}

/*******************************************
-----------------INTRO--------------------
/*******************************************/

h2 {
  border: 6px solid orange;
  margin: 40px 0 80px 60px; /* this is collapsing!!! how to fix?*/
}

/*******************************************
-----------------GALLERY--------------------
/*******************************************/

.parent {
  border: 6px solid black;
  display: flex;
  width: 90%;
  margin: 0 auto 120px auto;
}

.child-1 {
  background-color: lightblue;
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}

.child-2 {
  background-color: limegreen;
  text-align: center;
  width: 50%;
}

.item {
  width: 180px;
  height: 180px;
  background-color: lightgray;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* might need to fix with js images that show up*/
img {
  -webkit-filter: brightness(100%);
}

img:hover {
  -webkit-filter: brightness(70%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
